<p-table class="scroll-hight-fix"
[columns]="cols" [value]="list"
selectionMode="single" (onRowSelect)="onRowSelect($event)" [(selection)]="selectedRecord" 
[scrollable]="true" [paginator]="true" scrollHeight="200px"
[rows]="50" [totalRecords]="totalRecords">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

